
.glitch{
  color:$boxGreen;
  font-size:100px;
  position:relative;
  width:400px;
  margin:0 auto;
}

.glitchMini{
  font-size: 20px;
  width: 100px;
  margin: 0;
  display: inline-block;
  color:$boxGreen;
  text-decoration: none;
}
.glitchMini:hover{
  color: $boxRed;
  text-decoration: none;
}

@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:$boxRed;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:$boxBlue;
  background:transparent;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}

.spanGlitch{
  color:$boxGreen;
  font: bold 8rem "PT Mono";
  text-align:center;
  width:500px; left:50%; margin-left:-250px;
  height:155px; top:50%; margin-top:-127px;
  position:absolute;
  animation:glitch2 2s steps(100) infinite;
}
.spanGlitchMini{
  animation:glitch2 2s steps(100) infinite;
}

$r: rgba(255,0,0,1); $g: rgba(0,255,0,1); $b: rgba(0,0,255,1); $px: 0; $px2:0;

@mixin mini-glitch($c1, $c2, $coeff, $start, $end){
  $interval: $end - $start;
  @for $i from $start through $end {
    #{$i * 1%} {   
      @if $i < $start + ($interval/2){
        $px : $px + $coeff;$px2: -$px;   
        text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
      }
      @else{
        $px : $px - 1;$px2: -$px;  
        text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
      } 
    }
  }
  $px: 0;$px2: 0;
}

@mixin big-glitch($c1, $c2, $distance, $start, $end){
  @for $i from $start through $end {   
    #{$i * 1%} {
      @if $i == $end {
          text-shadow: 0 0 0 $c1, 0 0 0 $c2;
      }
      @else{   
          $px : $distance;$px2: -$px;
          text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
      }
    }
  }
  $px: 0;$px2: 0;
}


@keyframes glitch2{
      
  @include mini-glitch($r, $b, 1, 0, 10);
  @include mini-glitch($r, $g, 0.5, 11, 20);  
  @include mini-glitch($b, $g, 0.7, 21, 40);
  
  @include big-glitch($b, $g, 50, 41, 42);
  
  @include mini-glitch($r, $g, 0.5, 43, 50); 
  @include mini-glitch($r, $b, 1, 51, 60);
  
  @include big-glitch($r, $g, 30, 61, 62); 
  
  @include mini-glitch($r, $b, 0.5, 63, 70);
  
  @include big-glitch($r, $b, 70, 71, 72);
  
  @include mini-glitch($r, $b, 1, 73, 80);
  @include mini-glitch($r, $g, 0.5, 81, 90);

  @include big-glitch($g, $b, 60, 91, 92);
  
  @include mini-glitch($b, $g, 0.7, 92, 100);
}